  blockquote.code {
    font-style: normal;
    font-size: 16px;
    margin: 0em;
    margin-top: 4em;
    padding-left: 3em;
    border-left: 4px solid black;
    border-bottom: 1px solid black;
    padding-bottom: 1em;
  }
  blockquote.about {
    font-style: normal;
    font-size: 16px;
    margin: 0em;
    margin-top: 4em;
    padding-left: 0em;
    border-left: 0px solid black;
    border-bottom: 0px solid black;
    padding-bottom: 1em;
  }
    blockquote.blog {
    font-style: normal;
    font-size: 16px;
    margin: 0em;
    margin-top: 4em;
    padding-left: 3em;
    border-left: 0px solid black;
    border-bottom: 0px solid black;
    padding-bottom: 1em;
  }
  section.main {
    width: 100%;
    height: 100%;
  /*  margin-left: 5%;
    margin-right: 5%; */
    background-color: oklch(98.51% 0 0);
  }
  section.overview {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: -3em;
    padding-top: 4em;
    padding-bottom: 1.2em;
  }  
  section.subsection {
    margin-inline:auto;
    
    padding-top: 1em;
    max-width: 110ch;
  }
  h1.heading {

    border: solid #ffa81c 1.5px;
    border-right: solid #ffa81c 5px;
    border-top: 0px;
    border-left: 0px;
    font-size: 200%;
    margin-top: 2.5em;
    margin-bottom: 0px;
  }
  

  h1.borderaccent {
    height: 7px;
    border-left: solid #ffa81c 1.5px;
    margin-bottom: 0.8em;
    margin-top: 0px;
  }
  h2.heading {
    border-top: 0px;
    border-left: 0px;
    font-size: 200%;
    font-weight: bold;
    margin-top: 2.5em;
    margin-bottom: 0px;
  }
  img.code {
    max-width: 30%;
    float: right;
    margin: 1rem;
    margin-right: 2em;
    margin-top: 0px;
  }
  ul.attachments {
    padding: 0px 0px;
  }
  

  ul.attachments li {
    display: inline;
    padding-right: 2em;
    float: left;
  } 
  p.accent {
    border-right: 1px solid black;
    margin: 0em;
    height: 6px;
  }     
  ul.foot-nav {
    text-align: center;
    margin: 0px 0px;
  }
  

  ul.foot-nav li {
    display: inline;
    padding: 0px 1em;
    list-style: none;
    padding-left: 0px;
  }
  

  li.to-the-top {
    margin-left: 0px;
    float: left;
  }
  

  ul.nav-panel {
    float: right;
    padding: 0px 0px;
  }
  
body {
    background-image: url("");
    background-attachment: fixed;
    background-size: cover;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: black;
    line-height: 1.5;
    margin: 0px 0px;
  }
  

  div.contain {
    text-align: center; 
    margin-inline:auto;
    max-width: 110ch;
    position: relative;
  /*  top: 50%;
    left: 10em; */
    margin-top: 6em;
  /*  margin-left: -183px; */
  }
  

  div.hex-row {
    clear: left;
    margin-left: 2em;
    float: left;
  }
  

  hex-row-even {
    margin-left: 53px;
  }
  

  div.hex {
    float: left;
    margin-left: 12px;
    margin-bottom: -135.18198px;
  }
  

  div.hex-top {
    width: 0;
    border-bottom: 45px solid #ffa81c;
    border-left: 78px solid transparent;
    border-right: 78px solid transparent;
  }
  

  div.hex-bottom {
    width: 0;
    border-top: 45px solid #ffa81c;
    border-left: 78px solid transparent;
    border-right: 78px solid transparent;
  }
  

  div.hex-mid {
    width: 156px;
    height: 90px;
    background-color: #ffa81c;
    text-align: center;
  }
  

  div.hex-below {
    padding-left: 84px;
    padding-top: 145.57398px;
    margin-left: 2em;
  }
  

  ul.contact {
    list-style: none;
    text-align: right;
    padding-left: 0px;
    float: right;
    margin-right: 1.5em;
    margin-top: 0px;
  }
  

  p.contact {
    float: right;
  }
  

  ul.contact li {
    padding: 0.2em 0px;
    padding-bottom: 0px;
  }
  

  li.nameplate {
    font-size: 50px;
    color: #3498db;
  }
  

  a.contact:link {
    font-size: 18px;
    text-decoration: none;
    color: #3498db;
  }

  a.contact:visited {
    color: #3498db;
  } 
  
  a.contact:hover {
    color: blue;
  }

  a.hex-link {
    line-height: 90px;
    text-decoration: none;
    font-size: 38.25px;
    color: #3498db;
  }
  

  a.hex-link:hover {
    color: blue;
  }
  
  footer {
    margin-top: 10px;

    padding: 20px 12px 35px;
  }
  

  ul.foot-nav {
    text-align: center;
    margin: 2em 0px;
  }
  

  ul.foot-nav li {
    display: inline;
    padding: 0px 1em;
    list-style: none;
    padding-left: 0px;
  }
  hr.footer-divider {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #fff, rgba(0, 0, 0, 0.75), #fff);
    margin-top: 37em;
    margin-bottom: 0.2em;
  }
  
